<% var
pageTitle = "#Nevmenozasisters";
pageId = "index";
pageUrl = "";
pageDescription = "#Nevmenozasisters - Видео продакшн полного спектра";
%>
<% include ../_partial/_header %>

<body>
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav id="start-menu" class="navbar is-transparent is-black">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item hero-logo">
              <img src="/images/logo.svg" width="196" height="33">
            </a>
 
          </div>

            <div class="navbar-end">
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://www.instagram.com/nevmenoza_sisters/" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                  <i class="fa fa-instagram"></i>
                  <span class="nav-link-inner--text">Instagram</span>
                </a>
              </div>
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://www.youtube.com/channel/UC2b9OPT7B--JxY3cixusuyw" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                  <i class="fa fa-youtube-square"></i>
                  <span class="nav-link-inner--text">Youtube</span>
                </a>
              </div>
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://wa.me/+79806934110" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                  <i class="fa fa-whatsapp"></i>
                  <span class="nav-link-inner--text">Whatsapp</span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container">

        <p class="title has-text-light has-text-centered has-text-weight-light">
          Видео продакшн полного спектра<br>#Nevmenozasisters<br><br>
          <a href="tel:+79806934110" class="button is-warning">Позвонить</a>
        </p>

        <div class="overlay">
        </div>

        <video class="is-hidden-mobile" id="video-background" preload="" muted="" autoplay="" loop="">
          <source src="images/herovideo.mp4" type="video/mp4">
          <source src="images/herovideo.ogg" type="video/ogg">
        </video>

        <div class="is-hidden-desktop" id="img-background">
          <picture>
            <source type="image/webp" srcset="images/heroimg.webp">
            <img src="images/heroimg.webp">
          </picture>
        </div>

      </div>
    </div>
  </section>

<!-- Section -->
<section class="section">
  <div class="container">
    <div class="columns">

      <!-- Column 1 Керамика -->
      <div class="column">
        <center>
          <div class="card has-background-dark">
            <a href="https://www.youtube.com/watch?v=x7I4jkB0plo&feature=emb_logo" target="_blank">
            <div class="card-image"> 
              <figure class="image is-4by2">
                <img src="images/1.webp" alt="">
              </figure>
            </div>

            <div class="card-content has-text-light">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4 has-text-centered has-text-light">Избавьтесь от упаковки</p>
                </div>
              </div>

              <div class="content">
                Социальный ролик об экологической катастрофе.
              </div>
            </div>
          </a>
          </div>
        </center>
      </div>

      <!-- Column 2 Антигравийная пленка  -->
      <div class="column">
        <center>
          <div class="card has-background-dark">
            <a href="https://www.youtube.com/watch?v=0mkRLN59Uj0&feature=emb_logo" target="_blank">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="images/2.webp" alt="">
              </figure>
            </div>

            <div class="card-content has-text-light">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4 has-text-centered has-text-light">Сестры невменоза</p>
                </div>
              </div>

              <div class="content">
                Особенности женского мировосприятия.
              </div>
            </div>
          </a>
          </div>
        </center>
      </div>

      <!-- Column 3 Детейлинг -->
      <div class="column">
        <center>
          <div class="card has-background-dark">
            <a href="https://www.youtube.com/watch?v=nXVcuAGSjlQ" target="_blank">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="images/3.webp" alt="">
              </figure>
            </div>

            <div class="card-content has-text-light">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4 has-text-centered has-text-light">О женской красоте</p>
                </div>
              </div>

              <div class="content">
                Промо ролик для Success beauty <br>
              </div>
            </div>
          </a>
          </div>
        </center>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="columns">

      <!-- Row 2 Column 1 Стайлинг -->
      <div class="column">
        <center>
          <div class="card has-background-dark">
            <a href="https://www.youtube.com/watch?v=wf-Wiycmw5E" target="_blank">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="images/4.webp" alt="">
              </figure>
            </div>

            <div class="card-content has-text-light">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4 has-text-centered has-text-light">Гамачная</p>
                </div>
              </div>

              <div class="content">
                Промо ролик для кальянной "Ёжик в тумане".
              </div>
            </div>
          </a>
          </div>
        </center>
      </div>

      <!-- Row 2  Column 2 Антигравийная пленка  -->
      <div class="column">
        <center>
          <div class="card has-background-dark">
            <a href="https://www.youtube.com/watch?v=iZbnWUpmDN4" target="_blank">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="images/5.webp" alt="">
              </figure>
            </div>

            <div class="card-content has-text-light">
              <div class="media">
                <div class="media-content has-text-light">
                  <p class="title is-4 has-text-centered has-text-light">GOA</p>
                </div>
              </div>

              <div class="content">
                Cinematic travel film | March 2020.
              </div>
            </div>
            </a>
          </div>
        </center>
      </div>

    

    </div>
  </div>
</section>

  <% include ../_partial/_footer %>
