
<footer class="footer has-background-dark">
  <div class="container">
    <div class="content has-text-centered">
        <strong class="has-text-white has-text-weight-light">#Nevmenozasisters Production</strong><br>
        <a class="nav-link nav-link-icon has-text-light" href="https://www.youtube.com/channel/UC2b9OPT7B--JxY3cixusuyw" target="_blank" data-toggle="tooltip" title="Youtube аккаунт #сестрыневменоза">
          <i class="fa fa-youtube-square"></i>
        </a>
        <a class="nav-link nav-link-icon has-text-light" href="https://www.instagram.com/nevmenoza_sisters/" target="_blank" data-toggle="tooltip" title="Instagramm аккаунт #сестрыневменоза">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="nav-link nav-link-icon has-text-light" href="https://wa.me/+79806934110" target="_blank" data-toggle="tooltip" title="Позвонить на Whatsapp">
          <i class="fa fa-whatsapp"></i>
        </a>
    </div>
  </div>
  </footer>
  
  <script  src="script.js"></script>
  
  </body>
  </html>
  