
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>#Nevmenozasisters</title>

  <meta name="viewport" content="width=device-width">

  <meta property="og:title" content="#Nevmenozasisters Production" />
  <meta property="og:description" content="#Nevmenozasisters Production" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://nevmenozasisters.ru/" />
  <meta property="og:image" content="https://example.com/images/og-image.jpg" />
  <meta property="og:site_name" content="nevmenozasisters.ru" />

  <meta property="fb:app_id" content="" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">

  <meta name="msapplication-TileColor" content="#ed6c00">
  <meta name="theme-color" content="#ffffff">

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"> -->
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- <link rel="shortcut icon" href="favicon/favicon.ico" /> -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#ed6c00">


  <link rel="canonical" href="http://nevmenozasisters.ru/" />

</head>
